<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="2">
	<test name="Chrome Execution">
		<parameter name="browser" value="Chrome" />
		<classes>
			<class name="com.selenium.basecode.BaseCode" />
		</classes>
	</test>
	<test name="Firefox Execution">
		<parameter name="browser" value="Firefox" />
		<classes>
			<class name="com.selenium.basecode.BaseCode" />
		</classes>
	</test>
</suite> <!-- Suite -->
 